*{
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  
}
.App {
  text-align: center;
}

button{
  color: black;
  background-color: white;
  border: 3px solid black;
  padding: 30px;
  margin: 10px;
}
.boxes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card{
  color: black;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
}